[submodule "TankBotPIO/lib/PS2X_lib"]
	path = firmware/TankBotPIO/lib/PS2X_lib
	url = https://github.com/simondlevy/PS2X_lib.git
[submodule "TankBotPIO/lib/ServoTimer2"]
	path = firmware/TankBotPIO/lib/ServoTimer2
	url = https://github.com/nabontra/ServoTimer2.git
[submodule "ParralaxController/flexprop"]
	path = firmware/ParralaxController/flexprop
	url = https://github.com/totalspectrum/flexprop
[submodule "ParralaxController/test/Unity"]
	path = firmware/ParralaxController/test/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
